header 
  h1 Job Search Tracker
  nav.nav
    if user
      div.nav-link.disabled Welcome, #{user.nickname}
      a.nav-link(href="/dashboard") Dashboard
      a.nav-link(href="/logout") Log out
    else
      a.nav-link(href="/login") Log in
