html
  include components/head.pug

  body
    div(class='container')
      include components/header.pug
      h3 Welcome to the Job Search Tracker! 
      p The Job Search Tracker gives you the ability to track jobs and companies you've applied to.

      h4 Features
      ul
        li Log in with email and password 
        li Add and view jobs you've applied to
        li Update the status of jobs as you continue through the hiring process 
        li Archive jobs that you're no longer considering
